body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Geneva,Kalimati,sans-serif;
	font-size: 10px;
}

#content {
	display: block;
	margin: 0 auto;
	width: 1015px;
}

#container {
	display: block;
	overflow: hidden;
	height: 475px;
	width: 1015px;
	background-position: 1px 1px;
}

#footer {
	color: #666;
}
