body {
	margin: 0px;
	padding: 0px;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 12px;
}

#content {
	display: block;
	margin: 0 auto;
	width: 1015px;
}

#container {
	display: block;
	overflow: hidden;
	height: 475px;
	width: 1015px;
	background-position: 1px 1px;
}

#mapcontainer {
}

#footer {
	color: #666;
}

#collecting {
    float: right;
	font-weight: bold;
}
