body {
	margin: 0px;
	padding: 0px;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 12px;
}

a:link, a:active, a:visited {
	color: #aaa;
	text-decoration: none;
}

#content {
	display: block;
	margin: 0 auto;
	width: 1015px;
}

#container {
	display: block;
	overflow: hidden;
	height: 550px;
	width: 1015px;
	background-position: 1px 1px;
}

#mapcontainer {
	border: 1px solid #333;
}

#footer {
	color: #666;
	font-style: italic;
}

#collecting {
	float: right;
	font-weight: bold;
}
